*{
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.show{
  display:block;
}

.hide{
  display:none;
}

body {
  margin: 0;
  color:#333333;
}

button{
  cursor: pointer;
}

/*메뉴버튼튼튼튼*/
.menu_container{
  cursor: pointer;
  display:none;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 20px;
}

.bar {
  width: 40px;
  height: 5px;
  background: #313444;
  border-radius: 4px;
  margin: 4px 0;
  cursor: pointer;
  transition : all 0.3s ease-in-out;
}

.bar-top{
  transform: rotateZ(-45deg) translateY(13px);
}

.bar-top-reverse{
  transform: rotateZ(0deg) translateY(0px);

}

.bar-middle{
  opacity: 0;
}

.bar-middle-reverse{
  opacity: 1;
}

.bar-bottom{
  transform: rotateZ(45deg) translateY(-13px);
}

.bar-bottom-reverse{
  transform: rotateZ(0deg) translateY(0px);
}
/*메뉴버튼끝끅ㅌ끝끝*/

.header{
  width: 100%;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(255,255,255);
  font-weight: bold;
  position: sticky;
  z-index: 12490;
  transition: top 0.2s ease-in-out;
  display:flex;
  border-bottom: 1px solid #e7edef;
}

.header_flex_box{
  width: 1219px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.gnb{
  /* font-family: 'Noto Sans KR', sans-serif; */
  /* width: 40%; */
  display:flex;
  /* display: inline-block; */
}

.gnb div{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 10px;
  font-weight: 900;
  color:#333333;
  font-size: 20px;
}

/* .gnb div>a{
  text-align: center;
  width: 80px;
  display: block;
} */

.nav-up {
  top : -90px;
}

.nav-down {
  top : 0px;
}

.big_font{
  font-size: 2rem;
}

.small_font{
  font-size: 1.5rem;
}

.logo{
  width: 60%;
  /* margin: 0 auto; */
  display:flex;
  align-items: center;
  /* margin-right: 50px; */
}

.logo span{
  display: inline-block;
  font-size: 30px;
  color:#333333;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.logo img{
  width: 50px;
  height: 50px;
}

.video{
  width: 100%;
  /* height: 900px; */
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  display:flex;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  align-items: center;
  position: relative;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  overflow-y: hidden;
  /* background-color: #2c2c2c; */
  /* margin-bottom: 30px; */
}

.main_img img{
  width: 80%;
  height: 500px;
  position: relative;
  top: 20px;
}

.video iframe{
  width: 560px;
  height: 315px;
  margin-left: 50px;
  position: relative;
  z-index: 99;
}


.flex_box{
  margin-top: 30px;
}


.btn {
  cursor: pointer;
}

.clicked {
  color: #7f8c8d;
}

#eng_btn{
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  margin: 0 auto;
  display:block;
  border:none;
  outline: none;
  background: #313444;
  color:white;
  cursor: pointer;
  /* margin-top: 20px; */
}

.js-clock h1 {
  margin-top: 0;
  font-size: 80px;
}

.js-form {
  text-align: center;
  margin-bottom: 30px;
}

.js-form input {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background: none;
  /* font-weight: bold; */
  /* border: 3px solid #ffffff; */
  background: #313444;
  color:#ffffff;
  font-size: 20px;
  outline: none;
  border:none;
  border-radius: 5px;
}

.js-form input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  /* font-weight: bold; */
}

.js-toDoForm{
  text-align: center;
  font-weight: bold;
}

.js-toDoForm input {
  margin-top: 20px;
  padding: 10px;
  background: none;
  border: 3px solid #4296cb;
  font-weight: bold;
  color:#2c2e3a;
  font-size: 20px;
  outline: none;
  text-align: center;
  border-radius: 5px;
}

.js-toDoForm input::placeholder {
  color:#2c2e3a;
}

.form,
.greetings {
  width: 580px;
  /* height: 220px; */
  font-family: 'Open Sans', sans-serif;
  display: none;
  margin: 60px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.done_btn, .del_btn{
  background: none;
  border:none;
  outline:none;
}

.todo_flex_box{
  display:flex;
  align-items: center;
  justify-content: center;
}

.wrapper h2:nth-child(3){
  font-size: 21px;
}


.wrapper button{
  width: 100px;
  height: 50px;
  background: #4296cb;
  border:none;
  color:white;
  border-radius: 5px;
}

ul.js-toDoList, ul.done {
  font-family: 'Noto Sans KR', sans-serif;
  width: 50%;
  margin: 20px 20px;
  padding: 0;
  list-style: none;
  /* width: 500px; */
  height: 500px;
  border: 3px solid #4296cb;
  /* border-radius: 10px; */
  text-align: center;
  /* background: #4296cb; */
  color:#2c2e3a;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
  0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
}

ul li {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  /* background:rgba(150,150,150,0.5);
  border-left: 5px solid #be3159; */
  border-radius: 5px;
  width: 200px;
  margin: 5px auto;
  color:#212432;
  font-weight: bold;
}

.js-weather {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform:translateX(-50%);
  right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color:#909092;
}

.showing {
  padding: 20px;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bgImage {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.linelineline hr {
  top: 12px;
}
.linelineline {
  text-align: center;
  position: relative;
  width: 100%;
  margin: auto;
}
.linelineline h3 {
  background-color: #fff;
  position: relative;
  top: -4px;
  z-index: 99;
  width: auto;
  margin: auto;
  color: #be3159;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 0px 25px;
}

.linelineline hr {
  background: #be3159;
  height: 2px;
  position: absolute;
  width: 100%;
  top: -12.5px;
  border: none;
}
/*빨간색 #be3159 */

/*2페이지*/
.page2 {
  background: #f0f4f6;
  width: 100%;
  padding-top: 30px;
}

.page2 h5{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color:#333333;
  font-family: 'Open Sans', sans-serif;
}

.carousel_area{
  width: 61%;
  margin: 0 auto;
}

.owl-carousel{
  width: 100%;
  margin: 0 auto;
  text-align: center; 
}

.owl-stage-outer{
  height: 360px;
}

.owl-dots button{
  outline: none;
}

.item{
  font-family: 'Open Sans', sans-serif;
  /* border:4px solid #222533; */
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
                      0 2px 10px 0 rgba(0,0,0,0.12);
}


.owl-prev, .owl-next{
  outline: none;
}

/* .owl-prev span:hover, .owl-next span:hover{
  color:#333333;
  font-size: 35px;
  transition: 0.3s all ease-in-out;
} */

.owl-prev span, .owl-next span{
  height: 30px;
  font-size: 30px;
  margin: 0 20px;
  outline: none;
  cursor: pointer; 
}

.item_container img{
  width: 100%;
  height: 200px;
  display: inline-block;
  opacity: 1;
}

/* .item_container img:hover .item_container img{
  opacity: 0.5;
} */

.item_text_area{
  height: 150px;
  background: white;
}

.item_text_area h4{
  margin: 0;
  padding: 10px;
  font-size: 22px;
  height: 300px;
}


.footer_top{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  height: 200px;
  background-image: -webkit-linear-gradient(315deg,#2eb7ce,#4296cb);
    background-image: -o-linear-gradient(315deg,#2eb7ce 0,#4296cb 100%);
    background-image: linear-gradient(-225deg,#2eb7ce,#4296cb);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_top h3{
  margin: 0;
  /* font-weight: bold; */
  padding: 35px;
  font-size: 30px;
  color:#ffffff;
}

.getBtn button{
  width: 250px;
  padding: 18px 38px;
  background : #212432;
  border-color:transparent;
  color:#fff;
  text-transform: uppercase;
  border-radius: 4px;
}

.getBtn button:hover{
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer{
  height: 200px;
  background: #212432;
  color: #ffffff;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper{
   font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}


.wrapper p span{
  font-size: 25px;
  font-weight: bold;
}

.wrapper h2{
  font-size: 25px;
  font-weight: bold;
}

.footer_logo img{
  -webkit-filter:grayscale(100%);
  width: 100px;
  height: 100px;
}

.sns_area img{
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 900px) {
    .gnb{
      display:none;
    }

    .menu_container{
      display:inline-block;
    }
}

@media screen and (max-width: 600px) {
  .js-form input {
    margin-top: 20px;
    padding: 10px;
    background: none;
    /* border: 1px solid #be3159; */
    /* color:#be3159; */
    font-size: 20px;
    outline: none;
    text-align: center;
  }

  .js-form input::placeholder {
    /* color:#be3159; */
  }

  .js-toDoForm input {
    margin-top: 20px;
  padding: 10px;
  background: none;
  /* border: 1px solid #be3159; */
  /* color:#be3159; */
  font-size: 20px;
  outline: none;
  text-align: center;
  }

  .js-toDoForm input::placeholder {
    /* color:#be3159; */
  }

  .item{
    width: 300px;
  }

  .form,
.greetings {
  width: 100%;
  /* height: 260px; */
  /* margin: 20px; */
  font-size: 25px;
  margin: 0 auto;
}

#eng_btn{
  margin-bottom: 50px;
}

.greeting_Area{
  width: 100%;
  background: #222533;
  /* text-align: center; */
}

  .video{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 50px; */
      flex-wrap: wrap-reverse;
    padding: 0;
    position: relative;
    /* margin-bottom: 30px; */
  }
  
  .main_img img{
    top: 0;
  }

  .iframe_area{
    text-align: center;
  }

  .video iframe{
    width: 260px;
    height: 260px;
    margin: 0 auto;
    /* position: relative; */
    display: inline-block;
  }
  
  .flex_box{
    margin-top: 30px;
  }
  
  .carousel_area{
    width: 84%;
    margin: 0 auto;
  }


  .todo_flex_box{
    display:flex;
    flex-wrap: wrap;
  }
  
  ul.js-toDoList, ul.done{
    width: 100%;
  }
  
  ul li{
    width: 100%;
  }

  .footer_top{
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .owl-item, .active, .item{
    margin: 0;
  }
}