*{
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


ul{
  padding: 0;
}
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
.show{
  display:block;
}

.hide{
  display:none;
}

body {
  margin: 0;
  color:#333333;
  height: 100%;

}

button{
  cursor: pointer;
}

.header{
  width: 100%;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(255,255,255);
  font-weight: bold;
  position: fixed;
  z-index: 12490;
  transition: top 0.2s ease-in-out;
  display:flex;
  border-bottom: 1px solid #e7edef;
}

.nav-up {
  top : -90px;
}

.nav-down {
  top : 0px;
}

.header a{
  width: 1600px;
  margin: 0 auto;
}

.logo{
  width: 1600px;
  margin: 0 auto;
  display:flex;
  align-items: center;
}


.logo span{
display: inline-block;
font-size: 30px;
color:#333333;
margin-left: 10px;
font-family: 'Open Sans', sans-serif;
/* font-family: Georgia, Serif; */
font-weight: bold;
}


.logo img{
  width: 50px;
  height: 50px;
}

.js-weather {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: 16px;
  color:#909092;
}


/*main_container*/
.main_content_box{
  padding-top: 120px;
  background: #f9fcfd;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
                    0 2px 10px 0 rgba(0,0,0,0.12); */
}

.main_content_box h1{
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
  padding-left: 20px;
  border-left : 4px solid #212432;
  margin-bottom: 20px;
}

.flex_box{
  width: 75%;
  margin: 0 auto;
  /* padding: 20px; */
  /* height: 550px; */
  display:flex;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
                    0 2px 10px 0 rgba(0,0,0,0.12);
                    margin-bottom: 20px;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.add_box{
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 20%;
}

.add_item{
  width: 25%;
  color:#a7aabb;
  height: 102px;
  line-height: 16px;
  padding: 10px;
  text-align: center;
  border: 1px solid #4e5262;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add_item:nth-child(2), .add_item:nth-child(3){
  cursor: pointer;
}

iframe{
  width: 50%;
  /* height: ; */
}
  
/* .ifame_box{
  height: 550px;
} */

.text_box{
  width: 50%;
  /* width: 570px; */
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background: #222533;
  /* padding: 20px; */
  color:white;
  line-height: 30px;
}

.text_box a{
  text-decoration : underline;
  color : #3b96cb;
}

.text_content
{
  height: 80%;
  padding: 30px;
  line-height: 35px;
  font-size: 20px;
}

/*main_container finish*/
.footer{
  height: 200px;
  background: #212432;
  color: #ffffff;
  /* font-weight: 100; */
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.footer_logo img{
  -webkit-filter:grayscale(100%);
  width: 100px;
  height: 100px;
}

.sns_area img{
  width: 40px;
  height: 40px;
}


@media screen and (min-width: 1100px) {
  /* .flex_box{
    height: 600px;
  } */

}

@media screen and (max-width: 900px) {

  .main_content_box{
    padding-top: 120px;
    background: #f9fcfd;
    
  }

  .main_content_box h1{
    width: 78%;
    margin: 0 auto;
  }


  .flex_box{
    width: 75%;
    margin: 0 auto;
    /* padding: 20px; */
    /* height: 550px; */
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  iframe{
    width: 100%;
    height: 100%;
  }
    
  /* .ifame_box{
    height: 550px;
  } */

  .text_box{
    width: 100%;
    background: #222533;
    color:white;
  }

  .add_box{
    height: 30%;
  }

  .text_content{
    height: 70%;
    font-size: 15px;
  }
  
}

@media screen and (max-width: 600px) {

  h1{
    font-size: 25px;
  }

  .flex_box{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text_content{
    font-size: 14px;
  }

  .add_box{
    height: 20%;
    font-size: 11px;
  }

  .text_content{
    height: 80%;
    font-size: 15px;
  }

  .js-weather{
    font-size: 12px;
    top: 35px;
    right: 12px;
  }

  
}